

/* Calendar Over Rides */
.calendar-wrapper{
    padding: 0px !important;
    margin: 0px !important;
}
.calendar-wrapper table thead tr{
    height:100% !important;
}
.calendar-wrapper table  td{
    padding: 0px !important;
}

.status{
    float:right;
}
